<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>M5ABPro1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Inicio</display-name>
    <servlet-name>Inicio</servlet-name>
    <servlet-class>cl.M5ABPro1.controller.Inicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inicio</servlet-name>
    <url-pattern>/Inicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contacto</display-name>
    <servlet-name>Contacto</servlet-name>
    <servlet-class>cl.M5ABPro1.controller.Contacto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contacto</servlet-name>
    <url-pattern>/Contacto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearCapacitacion</display-name>
    <servlet-name>CrearCapacitacion</servlet-name>
    <servlet-class>cl.M5ABPro1.controller.CrearCapacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCapacitacion</servlet-name>
    <url-pattern>/CrearCapacitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>cl.M5ABPro1.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarCapacitaciones</display-name>
    <servlet-name>ListarCapacitaciones</servlet-name>
    <servlet-class>cl.M5ABPro1.controller.ListarCapacitaciones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCapacitaciones</servlet-name>
    <url-pattern>/ListarCapacitaciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>cl.M5ABPro1.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListadoUsuarios</display-name>
    <servlet-name>ListadoUsuarios</servlet-name>
    <servlet-class>cl.M5ABPro1.controller.ListadoUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoUsuarios</servlet-name>
    <url-pattern>/ListadoUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearUsuario</display-name>
    <servlet-name>CrearUsuario</servlet-name>
    <servlet-class>cl.M5ABPro1.controller.CrearUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearUsuario</servlet-name>
    <url-pattern>/CrearUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NuevaCapacitacion</display-name>
    <servlet-name>NuevaCapacitacion</servlet-name>
    <servlet-class>cl.M5ABPro1.controller.NuevaCapacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuevaCapacitacion</servlet-name>
    <url-pattern>/NuevaCapacitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioDetalle</display-name>
    <servlet-name>UsuarioDetalle</servlet-name>
    <servlet-class>cl.M5ABPro1.controller.UsuarioDetalle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioDetalle</servlet-name>
    <url-pattern>/UsuarioDetalle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarUsuario</display-name>
    <servlet-name>EditarUsuario</servlet-name>
    <servlet-class>cl.M5ABPro1.controller.EditarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarUsuario</servlet-name>
    <url-pattern>/EditarUsuario</url-pattern>
  </servlet-mapping>
</web-app>